{
  "root": true,
  "extends": [
    "@ordermentum/ordermentum",
    "turbo"
  ],
  "rules": {
    "@typescript-eslint/no-shadow": "off",
    "turbo/no-undeclared-env-vars": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "lib/"
  ]
}
