{
  "extends": [
    "@ordermentum/ordermentum"
  ],
  "globals": {
    "SequelizeAttributes": "readonly"
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "no-unused-expressions": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-shadow": "off"
  }
}
