{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "indent": 2
  },
  "globals": {
    "describe": true,
    "it": false,
    "beforeEach": true,
    "before": true,
    "xit": false,
    "afterEach": true
  }
}
