language: node_js
node_js:
  - "6"
  - "7"
script:
  - npm run lint
  - npm run flow
  - npm run flow:coverage
  - npm run test
  - npm run build
branches:
  only:
    - master
    - develop
cache:
  directories:
  - $HOME/.npm